#listing{
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding-top: 100px;
}

#listing form{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: start;  
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#listingtitle{
    font-size: 40px;
    font-weight: 300;
    color: black;
    margin-bottom: 20px;
}

#listing .list{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

#listing .list label{
    font-size: 20px;
    font-weight: 300;
    color: black;
}

#listing .list input{
    width: 90%;
    padding: 3px;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: black;
    border: 1px solid rgb(71, 71, 70);
}

#listing .list textarea{
    width: 90%;
    padding: 3px;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: black;
    border: 1px solid rgb(71, 71, 70);
}

#listingbtn{
    padding: 10px 40px 10px 40px;
    background-color: rgb(247, 8, 8);
    color: white;
    font-size: 18pxx;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    margin-top: 40px;
}

#listingbtn svg{
    width: 20px;
    height: 20px;
    color: white;
}